.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

body {
  background-color: #FFFEF2;
  color: #333333;
  overflow-x: hidden;
}

.notice_wrap {
  display: none;
}

.all_wrap {
  width: 100%;
}

.top_nav {
  text-align: center;
  height: 49px;
  line-height: 49px;
  background-color: #252525;
}

.top_nav > p {
  font-size: 13px;
  color: #ffffff;
}

.top_box {
  height: 625px;
  position: relative;
  overflow: hidden;
}

.top_box > div {
  float: left;
  height: 625px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top_box > .top_left {
  background-color: #5A556D;
}

.top_box > .top_left > .top_left_nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
}

.top_box > .top_left > .top_left_nav > ul {
  height: 70px;
  line-height: 70px;
}

.top_box > .top_left > .top_left_nav > ul > li {
  float: left;
  color: #ffffff;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}

.top_box > .top_left > .top_left_content {
  margin-top: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 40px;
}

.top_box > .top_left > .top_left_content > div {
  float: left;
  height: 338px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 50px;
}

.top_box > .top_left > .top_left_content > .top_left_content_logo {
  width: 30%;
  background: url(../img/top_left_logo.png) no-repeat;
  background-size: 100px;
}

.top_box > .top_left > .top_left_content > .top_left_content_text {
  width: 60%;
}

.top_box > .top_left > .top_left_content > .top_left_content_text > p {
  color: #ffffff;
  line-height: 25px;
  word-break: keep-all;
}

.top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(1) {
  font-size: 14px;
}

.top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(2) {
  margin-top: 20px;
  line-height: 40px;
  font-size: 30px;
}

.top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(3) {
  margin-top: 15px;
  font-size: 16px;
}

.top_box > .top_left > .top_left_content > .top_left_content_text > .top_left_content_text_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
}

.top_box > .top_left > .top_left_content > .top_left_content_text > .top_left_content_text_button > a {
  width: 50%;
  display: inline-block;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid #ffffff;
  float: left;
}

.top_box > .top_left > .top_left_content > .top_left_content_text > .top_left_content_text_button > a:nth-child(1) {
  border-right: none;
}

.top_box > .top_left > .top_left_content > .top_left_content_text > .top_left_content_text_button > a:hover {
  background-color: #ffffff;
  color: #5A556D;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top_box > .top_right {
  background: url(../img/top_right.jpg) no-repeat;
  background-size: cover;
  position: relative;
}

.top_box > .top_right > .top_right_img {
  width: 400px;
  height: 250px;
  background: url(../img/main_img.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 99;
}

.wave {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -500px;
  z-index: 1;
  width: 100%;
}

.wave + .wave {
  z-index: 2;
}

.section {
  width: 100%;
  clear: both;
}

.section_wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
}

.sec_wrap_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  height: 400px;
  float: left;
  margin-top: 100px;
  cursor: pointer;
}

.sec_wrap_box img {
  width: 100%;
  height: 80%;
}

.sec_wrap_box p {
  font-size: 13px;
  text-align: center;
  line-height: 30px;
}

.sec_wrap_box p > span {
  font-size: 12px;
  color: #666666;
}

.sec_h1 {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  color: #452f62;
}

.section_2 {
  width: 100%;
  height: 500px;
  margin-top: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_2 > div {
  float: left;
  height: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_2 > .section_2_left {
  width: 30%;
  margin-left: 15%;
  margin-right: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_2 > .section_2_left > p {
  line-height: 25px;
  word-break: keep-all;
}

.section_2 > .section_2_left > p:nth-child(1) {
  font-size: 14px;
}

.section_2 > .section_2_left > p:nth-child(2) {
  margin-top: 20px;
  line-height: 40px;
  font-size: 30px;
}

.section_2 > .section_2_left > p:nth-child(3) {
  margin-top: 15px;
  font-size: 16px;
}

.section_2 > .section_2_left > a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
}

.section_2 > .section_2_left > a:hover {
  background-color: #333333;
  color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.section_2 > .section_2_right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  background: url(../img/section_2_right.jpg) no-repeat;
  background-size: cover;
}

.section_3_wrap {
  margin-top: 0;
}

.section_3_ment > p:nth-child(1) {
  font-size: 28px;
  text-align: left;
  margin-left: 100px;
  line-height: 35px;
}

.section_3_ment > p:nth-child(2) {
  font-size: 14px;
  text-align: left;
  line-height: 25px;
  margin-top: 25px;
  margin-left: 100px;
}

.trssection {
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

#trssec {
  content: "";
  width: 100%;
  height: 900px;
  background-color: #e5eaee;
  -webkit-transform: translateY(50px) skew(0, -8deg);
          transform: translateY(50px) skew(0, -8deg);
  position: absolute;
  bottom: 270px;
}

.trs_box {
  width: 70%;
  height: 1250px;
  margin: 0 auto;
  position: relative;
}

.trs_box h1 {
  font-size: 5em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  width: 600px;
  height: 85px;
  left: -250px;
  top: 350px;
  color: #452f62;
}

.trs_box_wrap {
  height: 1250px;
  position: relative;
}

.trs_box_wrap p {
  font-size: 15px;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: absolute;
  bottom: -60px;
  font-weight: bold;
  color: #ffffff;
  text-indent: 10px;
  line-height: 20px;
  padding-top: 10px;
}

.trs_box_wrap p span {
  font-size: 14px;
  color: #ffffff;
  line-height: 30px;
  font-weight: normal;
  padding-left: 10px;
}

.trs_box_wrap > div {
  position: absolute;
  width: 35%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.box1 {
  background: url(../img/c1.jpg) no-repeat;
  top: 10%;
  left: 15%;
  cursor: pointer;
}

.box2 {
  background: url(../img/c2.jpg) no-repeat;
  top: 20%;
  right: 0;
  cursor: pointer;
}

.box3 {
  background: url(../img/c3.jpg) no-repeat;
  top: 50%;
  left: 15%;
  cursor: pointer;
}

.box4 {
  background: url(../img/c4.jpg) no-repeat;
  top: 60%;
  right: 0%;
  cursor: pointer;
}

.section_4 {
  width: 100%;
  height: 500px;
  margin-top: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_4 > div {
  float: left;
  height: 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_4 > .section_4_left {
  width: 30%;
  margin-left: 15%;
  margin-right: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_4 > .section_4_left > p {
  line-height: 25px;
  word-break: keep-all;
}

.section_4 > .section_4_left > p:nth-child(1) {
  font-size: 14px;
}

.section_4 > .section_4_left > p:nth-child(2) {
  margin-top: 20px;
  line-height: 40px;
  font-size: 30px;
}

.section_4 > .section_4_left > p:nth-child(3) {
  margin-top: 15px;
  font-size: 16px;
}

.section_4 > .section_4_left > a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  margin-top: 30px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
}

.section_4 > .section_4_left > a:hover {
  background-color: #333333;
  color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.section_4 > .section_4_right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  background: url(../img/section_4_right.jpg) no-repeat;
  background-size: cover;
}

.section_5 {
  clear: both;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-top: 150px;
}

.section_5 > p {
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  color: #452f62;
  font-weight: bold;
}

.section_5 > .section_5_box {
  width: 19%;
  margin-left: 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 100px;
  float: left;
}

.section_5 > .section_5_box > .box_content_1 {
  width: 100%;
  height: 250px;
  background-size: cover;
  cursor: pointer;
  background: url("../img/st1.jpg") no-repeat;
}

.section_5 > .section_5_box > .box_content_2 {
  width: 100%;
  height: 250px;
  background-size: cover;
  cursor: pointer;
  background: url("../img/st2.jpg") no-repeat;
}

.section_5 > .section_5_box > .box_content_3 {
  width: 100%;
  height: 250px;
  background-size: cover;
  cursor: pointer;
  background: url("../img/st3.jpg") no-repeat;
}

.section_5 > .section_5_box > .box_content_4 {
  width: 100%;
  height: 250px;
  background-size: cover;
  cursor: pointer;
  background: url("../img/st4.jpg") no-repeat;
}

.section_5 > .section_5_box > p {
  font-size: 13px;
  padding-top: 10px;
  padding-left: 5px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

.section_5 > .section_5_box > p > span {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
}

.section_5 > .section_5_button {
  clear: both;
  margin: 0 auto;
  margin-top: 480px;
  width: 25%;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 15px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
}

.section_5 > .section_5_button:hover {
  background-color: #333333;
  color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

.footer {
  width: 100%;
  height: 450px;
  margin-top: 150px;
  position: relative;
  background-color: #e5eaee;
  overflow: hidden;
}

.footer > p {
  text-align: center;
}

.footer > p:nth-child(1) {
  padding-top: 150px;
  font-size: 30px;
}

.footer > p:nth-child(2) {
  margin-top: 30px;
  font-size: 14px;
}

.footer .wave1 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 250px;
}

.footer2 {
  width: 100%;
  height: 350px;
  background: #5A556D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
}

.footer2 > .footer_left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 20%;
  margin-left: 10%;
  height: 100px;
  float: left;
}

.footer2 > .footer_left > p {
  font-size: 15px;
}

.footer2 > .footer_left > form {
  margin-top: 40px;
}

.footer2 > .footer_left > form > input {
  border: none;
  font-size: 20px;
  padding: 5px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: none;
}

.footer2 > .footer_left > form > input::-webkit-input-placeholder {
  color: #ffffff;
}

.footer2 > .footer_left > form > input:-ms-input-placeholder {
  color: #ffffff;
}

.footer2 > .footer_left > form > input::-ms-input-placeholder {
  color: #ffffff;
}

.footer2 > .footer_left > form > input::placeholder {
  color: #ffffff;
}

.footer2 > .footer_right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
  margin-right: 10%;
  float: left;
}

.footer2 > .footer_right > ul {
  float: left;
  margin-left: 17%;
}

.footer2 > .footer_right > ul > li {
  line-height: 25px;
  font-size: 14px;
  cursor: pointer;
}

.footer2 > .footer_right > ul > li:nth-child(1) {
  margin-bottom: 30px;
  font-size: 15px;
  cursor: default;
}

.footer2 > .footer_right > .footer_end {
  clear: both;
  margin-left: 17%;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 20px;
  font-size: 13px;
}

.footer3 {
  height: 80px;
  background-color: #252525;
}

.footer3 > .footer3_wrap {
  width: 97%;
  margin: 0 auto;
  height: 80px;
  line-height: 80px;
  color: #cccccc;
  font-size: 14px;
}

.footer3 > .footer3_wrap > .footer3_right {
  float: left;
  height: 80px;
}

.footer3 > .footer3_wrap > .footer3_left {
  float: right;
  height: 80px;
}

.footer3 > .footer3_wrap > .footer3_left > a {
  color: #cccccc;
}

*[data-parallax] {
  opacity: 0;
  -webkit-transition: opacity 2s ease, -webkit-transform 2s ease;
  transition: opacity 2s ease, -webkit-transform 2s ease;
  transition: opacity 2s ease, transform 2s ease;
  transition: opacity 2s ease, transform 2s ease, -webkit-transform 2s ease;
}

*[data-parallax].top {
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
}

*[data-parallax].left {
  -webkit-transform: translate(-300px, 0);
          transform: translate(-300px, 0);
}

*[data-parallax].right {
  -webkit-transform: translate(300px, 0);
          transform: translate(300px, 0);
}

*[data-parallax].bottom {
  -webkit-transform: translate(0, 300px);
          transform: translate(0, 300px);
}

*[data-parallax].view {
  opacity: 1;
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
}

@media (max-width: 1280px) {
  .top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(2) {
    font-size: 25px;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(3) {
    font-size: 13px;
  }
  .section_2 > div,
  .section_4 > div {
    height: 400px;
  }
  .sec_wrap_box {
    height: 300px;
  }
  .section_3_ment > p:nth-child(1) {
    font-size: 24px;
    text-align: left;
    margin-left: 50px;
    line-height: 30px;
  }
  .section_3_ment > p:nth-child(2) {
    font-size: 13px;
    text-align: left;
    line-height: 23px;
    margin-top: 25px;
    margin-left: 50px;
  }
  .trs_box {
    height: 1050px;
    margin-top: 200px;
  }
  .trs_box_wrap {
    height: 1050px;
  }
  .trs_box_wrap > div {
    height: 200px;
  }
  .box1 {
    left: 20%;
  }
  .box2 {
    right: -5%;
  }
  .box3 {
    left: 20%;
  }
  .box4 {
    right: -5%;
  }
  .section_5 > .section_5_box > .box_content_1,
  .section_5 > .section_5_box > .box_content_2,
  .section_5 > .section_5_box > .box_content_3,
  .section_5 > .section_5_box > .box_content_4 {
    width: 110%;
    height: 170px;
  }
  .top_box > .top_left > .top_left_content {
    margin-top: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 40px;
  }
  .footer2 > .footer_right > ul {
    margin-left: 12%;
  }
  .footer2 > .footer_right > .footer_end {
    margin-left: 12%;
  }
}

@media (max-width: 960px) {
  .top_nav {
    height: 49px;
    line-height: 49px;
  }
  .top_nav > p {
    font-size: 13px;
  }
  .top_box {
    height: 950px;
    position: relative;
    overflow: hidden;
  }
  .top_box > div {
    height: 425px;
    width: 100%;
  }
  .wave {
    bottom: -700px;
  }
  .top_box > .top_left > .top_left_content {
    margin-top: 30px;
  }
  .top_box > .top_left > .top_left_content > div {
    height: 300px;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(2) {
    font-size: 30px;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(3) {
    font-size: 16px;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text_button {
    height: 40px;
    line-height: 40px;
    margin-top: 25px;
  }
  .section_wrap {
    margin-top: 70px;
  }
  .section_wrap > .sec_wrap_box {
    height: 400px;
  }
  .section_2 {
    height: 500px;
    margin-top: 150px;
  }
  .section_2 > div {
    height: 350px;
  }
  .section_2 > .section_2_left {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .section_2 > .section_2_right {
    margin-left: 15%;
    width: 85%;
    background: url(../img/section_2_right.jpg) no-repeat;
    background-size: cover;
  }
  .section_4 {
    height: 500px;
    margin-top: 150px;
  }
  .section_4 > div {
    height: 350px;
  }
  .section_4 > .section_4_left {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .section_4 .section_4 > .section_4_right {
    margin-left: 15%;
    width: 85%;
    background: url(../img/section_4_right.jpg) no-repeat;
    background-size: cover;
  }
  .trs_box {
    height: 1250px;
  }
  .trs_box h1 {
    left: -300px;
  }
  .trs_box_wrap > div {
    position: static;
    width: 80%;
    height: 200px;
    margin-top: 150px;
    margin-left: 100px;
  }
  .section_5 {
    margin-top: 350px;
  }
  .section_5 > .section_5_box {
    width: 70%;
    margin-left: 15%;
  }
  .section_5 > .section_5_box > .box_content_1 {
    height: 300px;
    background: url(../img/st1.jpg) no-repeat;
    background-size: cover;
  }
  .section_5 > .section_5_box > .box_content_2 {
    height: 300px;
    background: url(../img/st2.jpg) no-repeat;
    background-size: cover;
  }
  .section_5 > .section_5_box > .box_content_3 {
    height: 300px;
    background: url(../img/st3.jpg) no-repeat;
    background-size: cover;
  }
  .section_5 > .section_5_box > .box_content_4 {
    height: 300px;
    background: url(../img/st4.jpg) no-repeat;
    background-size: cover;
  }
  .section_5 > .section_5_button {
    margin-top: 1880px;
  }
  .footer2 {
    height: 450px;
  }
  .footer2 > .footer_left {
    width: 90%;
    margin-left: 5%;
    height: 150px;
    float: none;
  }
  .footer2 > .footer_right {
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
    float: none;
  }
  .footer2 > .footer_right > ul {
    float: left;
    margin-left: 0%;
    margin-right: 13%;
  }
  .footer2 > .footer_right > ul > li:nth-child(1) {
    margin-bottom: 15px;
  }
  .footer2 > .footer_right > .footer_end {
    margin-left: 0%;
  }
}

@media (max-width: 600px) {
  .top_nav {
    height: 8.166vw;
    line-height: 8.166vw;
  }
  .top_nav > p {
    font-size: 2.166vw;
  }
  .top_box {
    height: 158.333vw;
  }
  .top_box > div {
    height: 75.833vw;
    width: 100%;
  }
  .top_box > .top_left {
    background-color: #5A556D;
  }
  .top_box > .top_left > .top_left_nav {
    padding: 0 6.666vw;
  }
  .top_box > .top_left > .top_left_nav > ul {
    height: 11.666vw;
    line-height: 11.666vw;
  }
  .top_box > .top_left > .top_left_nav > ul > li {
    float: left;
    color: #fff;
    font-size: 2.333vw;
    margin-right: 3.333vw;
  }
  .top_box > .top_left > .top_left_content {
    margin-top: 5vw;
    padding: 0 6.666vw;
  }
  .top_box > .top_left > .top_left_content > div {
    float: left;
    height: 50vw;
    padding-bottom: 0vw;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_logo {
    width: 30%;
    background-size: 16.666vw;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text {
    width: 60%;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text > p {
    line-height: 4.166vw;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(1) {
    font-size: 2.333vw;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(2) {
    margin-top: 3.333vw;
    line-height: 6.666vw;
    font-size: 5vw;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text > p:nth-child(3) {
    margin-top: 2.5vw;
    font-size: 2.666vw;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text > .top_left_content_text_button {
    height: 10vw;
    line-height: 10vw;
    margin-top: 5vw;
  }
  .top_box > .top_left > .top_left_content > .top_left_content_text > .top_left_content_text_button > a {
    width: 50%;
    color: #fff;
    font-size: 2.5vw;
    border: 1px solid #fff;
    float: left;
  }
  .top_box > .top_right > .top_right_img {
    width: 66.666vw;
    height: 41.666vw;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 99;
  }
  .top_box .wave {
    position: absolute;
    bottom: -116vw;
    width: 100%;
  }
  .section_wrap {
    width: 80%;
    margin: 0 auto;
    margin-top: 11.666vw;
  }
  .sec_wrap_box {
    width: 25%;
    height: 66.666vw;
    float: left;
    margin-top: 13.333vw;
  }
  .sec_wrap_box img {
    width: 80%;
    margin: 0 10%;
    height: 80%;
  }
  .sec_wrap_box p {
    font-size: 2.666vw;
    line-height: 5vw;
  }
  .sec_wrap_box p > span {
    font-size: 2.5vw;
    color: #666666;
  }
  .sec_h1 {
    width: 66.666vw;
    margin: 0 auto;
    font-size: 8.333vw;
  }
  .section_2 {
    width: 100%;
    height: 83.333vw;
    margin-top: 25vw;
  }
  .section_2 > div {
    float: left;
    height: 58.333vw;
  }
  .section_2 > .section_2_left {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .section_2 > .section_2_left > p {
    line-height: 4.166vw;
  }
  .section_2 > .section_2_left > p:nth-child(1) {
    font-size: 2.333vw;
  }
  .section_2 > .section_2_left > p:nth-child(2) {
    margin-top: 3.333vw;
    line-height: 6.666vw;
    font-size: 5vw;
  }
  .section_2 > .section_2_left > p:nth-child(3) {
    margin-top: 2.5vw;
    font-size: 2.666vw;
  }
  .section_2 > .section_2_left > a {
    height: 10vw;
    line-height: 10vw;
    margin-top: 5vw;
    width: 100%;
    font-size: 2.5vw;
    border: 1px solid rgba(51, 51, 51, 0.2);
  }
  .section_2 > .section_2_right {
    margin-left: 15%;
    width: 85%;
  }
  .section_3_wrap {
    margin-top: 0;
  }
  .section_3_wrap > .section_3_ment > p:nth-child(1) {
    font-size: 4.666vw;
    text-align: left;
    margin-left: 0px;
    line-height: 5.833vw;
  }
  .section_3_wrap > .section_3_ment > p:nth-child(2) {
    font-size: 2.333vw;
    text-align: left;
    line-height: 4.166vw;
    margin-top: 4.166vw;
    margin-left: 0px;
  }
  .trssection {
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
  }
  #trssec {
    width: 100%;
    height: 150vw;
    bottom: 45vw;
  }
  .trs_box {
    width: 70%;
    height: 208.333vw;
    margin: 0 auto;
    position: relative;
  }
  .trs_box h1 {
    font-size: 5em;
    width: 125vw;
    height: 14.166vw;
    left: -60vw;
    top: 58.333vw;
  }
  .trs_box_wrap {
    height: 208.333vw;
    position: relative;
  }
  .trs_box_wrap p {
    font-size: 2.5vw;
    margin-top: 3.333vw;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: absolute;
    bottom: -10vw;
    text-indent: 1.666vw;
    line-height: 3.333vw;
    padding-top: 1.666vw;
  }
  .trs_box_wrap p span {
    font-size: 2.333vw;
    line-height: 5vw;
    font-weight: normal;
    padding-left: 1.666vw;
  }
  .trs_box_wrap > div {
    position: static;
    width: 80%;
    height: 33.333vw;
    margin-top: 25vw;
    margin-left: 16.666vw;
  }
  .section_4 {
    width: 100%;
    height: 83.333vw;
    margin-top: 25vw;
  }
  .section_4 > div {
    float: left;
    height: 58.333vw;
  }
  .section_4 > .section_4_left {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .section_4 > .section_4_left > p {
    line-height: 4.166vw;
  }
  .section_4 > .section_4_left > p:nth-child(1) {
    font-size: 2.333vw;
  }
  .section_4 > .section_4_left > p:nth-child(2) {
    margin-top: 3.333vw;
    line-height: 6.666vw;
    font-size: 5vw;
  }
  .section_4 > .section_4_left > p:nth-child(3) {
    margin-top: 2.5vw;
    font-size: 2.666vw;
  }
  .section_4 > .section_4_left > a {
    height: 10vw;
    line-height: 10vw;
    margin-top: 5vw;
    width: 100%;
    font-size: 2.5vw;
    border: 1px solid rgba(51, 51, 51, 0.2);
  }
  .section_4 > .section_4_right {
    margin-left: 15%;
    width: 85%;
  }
  .section_5 {
    clear: both;
    width: 80%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    margin-top: 58.333vw;
  }
  .section_5 > p {
    margin: 0 auto;
    text-align: center;
    font-size: 8.333vw;
    color: #452f62;
    font-weight: bold;
  }
  .section_5 > .section_5_box {
    width: 70%;
    margin-left: 15%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 13.333vw;
    float: left;
  }
  .section_5 > .section_5_box > .box_content_1,
  .section_5 > .section_5_box .box_content_2,
  .section_5 > .section_5_box .box_content_3,
  .section_5 > .section_5_box .box_content_4 {
    width: 100%;
    height: 50vw;
  }
  .section_5 > .section_5_box > p {
    font-size: 2.833vw;
    padding-top: 1.666vw;
    padding-left: 0.833vw;
    text-align: center;
    line-height: 5vw;
    cursor: pointer;
  }
  .section_5 > .section_5_box > p > span {
    font-size: 2.5vw;
    line-height: 5vw;
  }
  .section_5 > .section_5_button {
    margin: 0 auto;
    margin-top: 313.333vw;
    width: 70%;
    height: 10vw;
    line-height: 10vw;
    font-size: 2.5vw;
    border: 1px solid rgba(51, 51, 51, 0.2);
  }
  .footer {
    width: 100%;
    height: 75vw;
    margin-top: 25vw;
    position: relative;
  }
  .footer > p:nth-child(1) {
    padding-top: 25vw;
    font-size: 4vw;
  }
  .footer > p:nth-child(2) {
    margin-top: 5vw;
    font-size: 2.833vw;
  }
  .footer2 {
    width: 100%;
    height: 75vw;
    display: none;
  }
  .footer2 > .footer_left {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    height: 25vw;
    float: none;
  }
  .footer2 > .footer_left > p {
    font-size: 2.5vw;
  }
  .footer2 > .footer_left > form {
    margin-top: 6.666vw;
  }
  .footer2 > .footer_left > form > input {
    font-size: 3.333vw;
    padding: 0.833vw;
    width: 100%;
    border-bottom: 1px solid #ffffff;
  }
  .footer2 > .footer_right {
    width: 90%;
    margin-left: 5%;
    margin-right: 10%;
    float: none;
  }
  .footer2 > .footer_right > ul {
    float: left;
    margin-left: 0%;
    margin-right: 13%;
  }
  .footer2 > .footer_right > ul > li {
    line-height: 4.166vw;
    font-size: 2.333vw;
    cursor: pointer;
  }
  .footer2 > .footer_right > ul > li:nth-child(1) {
    margin-bottom: 0px;
    font-size: 2.5vw;
    cursor: default;
  }
  .footer2 > .footer_right > .footer_end {
    clear: both;
    margin-left: 0%;
    padding-top: 3.333vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 3.333vw;
    font-size: 2.166vw;
  }
  .wave1 {
    height: 41.666vw;
  }
  .footer3 {
    height: 13.333vw;
    background-color: #252525;
  }
  .footer3 > .footer3_wrap {
    width: 97%;
    margin: 0 auto;
    height: 13.333vw;
    line-height: 13.333vw;
    color: #cccccc;
    font-size: 2.833vw;
  }
  .footer3 > .footer3_wrap > .footer3_right {
    float: left;
    height: 13.333vw;
  }
  .footer3 > .footer3_wrap > .footer3_left {
    float: right;
    height: 13.333vw;
  }
  .footer3 > .footer3_wrap > .footer3_left > a {
    color: #cccccc;
  }
  .notice_wrap {
    width: 100vw;
    margin: 0 auto;
    word-break: keep-all;
    padding: 0px;
    overflow: hidden;
    clear: both;
    display: block;
  }
  .notice_wrap > .notice_one {
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
    clear: both;
  }
  .notice_wrap > .notice_one > ul > li {
    clear: both;
    border-top: 1px solid #b3b3b3;
  }
  .notice_wrap > .notice_one > ul > li > .list {
    display: block;
    clear: both;
    height: 10.48vw;
  }
  .notice_wrap > .notice_one > ul > li > .list > p {
    background: #5A556D;
    line-height: 10.48vw;
    font-size: 2.5vw;
    color: #ffff;
  }
  .notice_wrap > .notice_one > ul > li > .list > div:first-child {
    width: 10%;
    height: 10.48vw;
    float: left;
    background: url(../img/search_station.png) no-repeat;
    background-size: 3vw;
    background-position: center center;
  }
  .notice_wrap > .notice_one > ul > li > p {
    opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    display: none;
    transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    clear: both;
    font-size: 2.8vw;
    padding: 0vw 9.62vw 2.55vw 9.62vw;
    line-height: 3vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    word-break: break-word;
    background: #5A556D;
  }
  .notice_wrap > .notice_one > ul > li > p > a {
    color: #fff;
    font-size: 2.8vw;
    line-height: 8vw;
  }
  .notice_wrap > .notice_one > ul > li > p.active {
    opacity: 1;
    -ms-opacity: 1;
    -webkit-opacity: 1;
    display: block;
  }
  .notice_wrap > .footer_hide_left {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 25vw;
    padding: 0 5%;
    float: none;
    background: #5A556D;
  }
  .notice_wrap > .footer_hide_left > p {
    font-size: 2.5vw;
    color: #fff;
  }
  .notice_wrap > .footer_hide_left > form {
    margin-top: 6.666vw;
  }
  .notice_wrap > .footer_hide_left > form > input {
    border: none;
    font-size: 3.333vw;
    padding: 0.833vw;
    color: #ffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: none;
  }
  .notice_wrap > .footer_hide_left > form > input::-webkit-input-placeholder {
    color: #fff;
  }
  .notice_wrap > .footer_hide_left > form > input:-ms-input-placeholder {
    color: #fff;
  }
  .notice_wrap > .footer_hide_left > form > input::-ms-input-placeholder {
    color: #fff;
  }
  .notice_wrap > .footer_hide_left > form > input::placeholder {
    color: #fff;
  }
  .notice_wrap > .footer_hide_end {
    background: #5A556D;
    color: #fff;
    font-size: 2.5vw;
    line-height: 3.5vw;
    padding: 4vw;
  }
}

@media (max-width: 450px) {
  .top_box > div {
    height: 77.833vw;
  }
  .wave1 {
    height: 51.666vw;
  }
  .trs_box h1 {
    height: 14.166vw;
    left: -80vw;
    top: 78.333vw;
  }
}
/*# sourceMappingURL=index.css.map */